// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color pallets from http://paperheartdesign.com/blog/color-palette-awesome-space
// Eclipsed color pallet.
// HEX CODES:
$e-black: #000000;
$e-blue: #051427;
$e-burgundy: #530f1e;
$e-orange: #a44322;
$e-yellow: #f8bc04;

// LaLuna color pallet
$ll-blue: #101b39;
$ll-black:#333136;
$ll-grey: #6f6d72;
$ll-lightgrey:#b4b1b8;
$ll-white:#e9e8ee;
