// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&display=swap');
// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
$future-font: 'Cairo', 'sans-serif';

@import url('../chopsic-font/Chopsic-K6Dp.ttf');

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Chopsic";
  // src: font-url('Chopsic-K6Dp.eot');
  src: /* font-url('Chopsic-K6Dp.eot?#iefix') format('embedded-opentype'),
       font-url('Chopsic-K6Dp.woff') format('woff'), */
       font-url('chopsic-font/Chopsic-K6Dp.ttf') format('truetype')
}

$logo-font: "Chopsic", "sans-serif";
