
.planet-header {
  margin: 70px 0px;
  padding: 30px;
  text-align: center;
}
.planet-header h1 {
  text-decoration: overline;
  text-decoration-color:  $e-orange;
  font-family: $logo-font;
  color: $e-yellow;
}

#rating-info-container {
  display: flex;
  align-items: center;
}

.planets-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#rating-info-container i {
  color: white;
  padding: 3px;
}


#planet-name {
  font-family: $future-font;
  color: white;
  font-weight: 800;
}

#planet-price {
  font-family: $future-font;
  color: $e-yellow;
}


#book {
  font-family: $future-font;
  color: white;
  transition: 1s;
  &:hover {
    color: $e-yellow;
  }
}


#planet-square-container2 {
  top:80%;
}
// hi
.backpic {
  object-fit: cover;
  height: 400px;
  width: 400px;
  position: relative;
  bottom: 95px;
}

.square-container-planet {
  padding: 10px;
  background-color: rgba(0,0,0, .3);
}

.planets-title {
  margin-bottom: 40px;
}
