.planet-header {
  padding: 30px;
  text-align: center;
}
.planet-header h1 {
  text-decoration: overline;
  text-decoration-color:  $e-orange;
  font-family: $logo-font;
  color: $e-yellow;
}

#rating-info-container {
  display: flex;
  align-items: center;
}


#rating-info-container i {
  color: white;
  padding: 3px;
}

#planet-name {
  font-family: $future-font;
  color: $e-orange;
  font-weight: 800;
}

#planet-price {
  font-family: $future-font;
  color: $e-yellow;
}

#planet-square {
  background-image: url("https://t4.ftcdn.net/jpg/02/77/98/67/360_F_277986727_L2PWXsvn1LOyBYGYu2AJ0nABo5eQtFV4.jpg");
}

#description {
  font-family: $future-font;
  color: $e-yellow;
}

#book {
  font-family: $future-font;
}

#planet-square2 {
  background-image: url("https://cdn.pixabay.com/photo/2020/02/15/03/25/alien-4849877_960_720.jpg");
}

#planet-square-container2 {
  top:80%;
}
