.planet-header {
  padding: 30px;
  text-align: center;
}
.planet-header h1 {
  text-decoration: overline;
  text-decoration-color:  $e-orange;
  font-family: $logo-font;
  color: $e-yellow;
}

.planets-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.card-planet-infos h2 {
  font-family: $future-font;
  font-size: 30px;
}
.card-planet-infos p {
  color: $e-blue;
}

.card-planet {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(184, 183, 183, 0.2);
  border-radius: 5px;
}

.card-planet > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-planet h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-planet p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
  color: $e-blue;
}

.card-planet-infos .card-planet-pricing {
  font-size: 13px;
  color: $e-blue;
  font-weight: lighter;
}

.card-planet .card-planet-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-planet-infos .card-planet-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
