.name {
  color: #f8bc05;
  font-family: Verdana, sans-serif;
}

.info {
  margin: 100px;
  display: flex;
  justify-content: space-evenly;
}

.white {
  display: flex;
  justify-content: center;
  color: white;
}

.box {
  border-radius: 50px;
}

.bottom {
  margin: 50px;
}
