.text-color {
  color: #f8bc05;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.div.user_name {
  display: inline-block;
}

div.user_page {
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
}

div.h2 {
  display: flex;
  align-items: center;
}

div.backAndCreatebtn {
  justify-content: center;
}
