.text-color {
  color: #f8bc05;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6em;
  margin: 50px 0px;
}


.user_page {
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
  border-radius: 8px;
  padding: 30px 50px;

}

.h2 {
  display: flex;
  align-items: center;
}

.backAndCreatebtn {
  justify-content: center;
}

.my-planet {
  margin: 30px 0px;
}

.my-planet-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-planet h6 {
  text-align: left;
}

.my-planet-info h4 {
  justify-items: center;
}

.my-planet-info p {
  margin-left: 10px;
  font-size: x-small;
}
