<div class="banner-space" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1462332420958-a05d1e002413?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2707&q=80);">
    <h1>No AirBnB</h1>
    <p>Our locations are out of this world</p>
</div>

<%# background-image: url(''); %>
<%# background-repeat: no-repeat; %>
