
<div class="d-flex big-boy">
  <div class="centerflipcards">
    <div class="square-flip">
      <div class='square' style="background-image: url('https://i.ytimg.com/vi/2U3ucaVzRqQ/maxresdefault.jpg')">
        <div class="square-container">
          <h2 class="textshadow">Our Hot Picks</h2>
        </div>
        <div class="flip-overlay"></div>
      </div>
      <div class='square2' style="background-image: url('https://ak.picdn.net/shutterstock/videos/30271555/thumb/12.jpg')">
        <div class="square-container2">
          <h2>Check out our top destinations for warm climates to top up that tan</h2>
          <a href="/planets"><button class="name noselect btn">Explore</button></a>
        </div>
        <div class="flip-overlay"></div>
      </div>
    </div>
  </div>
  <div class="centerflipcards">
    <div class="square-flip">
      <div class='square' style="background-image: url('https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max')">
        <div class="square-container">
          <h2 class="textshadow">No AirBnb</h2>
          <h3 class="textshadow">Our locations are out of this world</h3>
        </div>
        <div class="flip-overlay"></div>
      </div>
      <div class='square2' style="background-image: url('https://wallpapercave.com/wp/yPzwg3S.jpg')">
        <div class="square-container2">
          <h2>Check out the top offers on our beauiful celestial bodies...</h2>
          <a href="/planets"><button class="name noselect btn">Explore</button></a>
        </div>
        <div class="flip-overlay"></div>
      </div>
    </div>
  </div>
  <div class="centerflipcards">
    <div class="square-flip">
      <div class='square' style="background-image: url('https://dornob.com/wp-content/uploads/2009/08/don-pettit-spain.jpg')">
        <div class="square-container">
          <h2 class="textshadow">Top City Destinations</h2>
        </div>
        <div class="flip-overlay"></div>
      </div>
      <div class='square2' style="background-image: url('https://www.pixel4k.com/wp-content/uploads/2018/10/futuristic-city-tall-buildings-concept-art-4k_1540754822.jpg')">
        <div class="square-container2">
          <h2>Check out the best city breaks and explore alien cultures</h2>
          <a href="/planets"><button class="name noselect btn">Explore</button></a>
        </div>
        <div class="flip-overlay"></div>
      </div>
    </div>
  </div>
</div>
