<div class="centerflipcards">
	<div class="square-flip">
		<div class='square'>
			<div class="square-container">
				<h2 class="textshadow">Some Text 1</h2>
				<h3 class="textshadow">Some Text 2</h3>
			</div>
			<div class="flip-overlay">
      </div>
		</div>
		<div class='square2'>
			<div class="square-container2">
				<h2>Some text 3</h2>
        <a href="/planets"><button class="name noselect btn">Explore</button></a>
			</div>
			<div class="flip-overlay">
      </div>
		</div>
	</div>
</div>
