<div class="navbar">
  <div class="socials-container">
    <ul class="socials-icons">
      <li id="facebook"><i class="fab fa-facebook-square"></i></li>
      <li id="twiiter"><i class="fab fa-twitter-square"></i></li>
      <li id="instagram"><i class="fab fa-instagram-square"></i></li>
    </ul>
  </div>
  <div class="info-container">
    <span class="info-text">© 2022 NoAirbnb, Inc. All rights reserved</span>
    <ul class="info-links">
      <li><a class="info-text" href="#">Privacy</a></li>
      <li><a class="info-text" href="#">Terms</a></li>
      <li><a class="info-text" href="#">Site Map</a></li>
    </ul>
  </div>
</div>
