
<%#= render "shared/banner" %>
<div class="search-bar search-bar-style">
  <h1 class ="slogan">Let's take off</h1>
    <%= simple_form_for :search, class:"search-input", url: planets_path, method: :get do |f| %>
    <div class="search-bar search-form-control form-group">
      <input class="search-input form-control string required" placeholder="Find a planet" type="text" name="search_query" id="search_query" value="<%= session[:search]%>">
      <button name="search/button" type="submit" class="search-button btn btn-flat"> Search </button>
    </div>
    <% end %>
</div>
<%= render "shared/explore_planets" %>
