.footer {
  background-color: $e-blue;
  padding: 0.5rem 40px;
  color: $e-yellow;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.socials-icons {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  cursor: pointer;
}

.socials-icons li {
  font-size: 30px;
}

.socials-icons li i {
  &:hover {
    color: $e-orange;
  }
}

.socials-container {
  padding: 10px;
  justify-content: flex;
  justify-items: center;
}

.info-text {
  font-family: $future-font;
}

.info-links {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 10px;
  list-style: none;
}

.info-links li a {
  &:hover {
    text-decoration: underline;
    color: $e-yellow;
  }
}
