.navbar-space {
  justify-content: space-around;
  background-color: $e-blue;
  padding: 0.5rem 40px;
}

.navbar-space .navbar-collapse {
  flex-grow: 0;
}

.navbar-space .navbar-brand h1 {
  font-family: $logo-font;
  font-size: 32px;
  color: $e-yellow;
}

.nav-link {
  color: $e-yellow !important;
  &:hover {
    color: $e-orange !important;
  }
}

#brand-image {
  height: auto;
  width: 30px;
}
