.navbar-space {
  justify-content: space-around;
  background-color: $e-blue;
  padding: 0.5rem 40px;
}

.navbar-space .navbar-collapse {
  flex-grow: 0;
}

.navbar-space .navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-space .navbar-brand h1 {
  font-family: $logo-font;
  font-size: 32px;
  color: $e-yellow;
  margin-bottom: 0;
}

.nav-link {
  font-family: $future-font;
  color: $e-yellow !important;
  &:hover {
    color: $e-orange !important;
  }
}

.nav-shift-left {
  margin-right: 20px;
}

#brand-image {
  height: auto;
  width: 100px;
  padding: 0 15px;
}
