// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";

body {
  background-image: url('space-background.jpeg');
  background-size: cover;
  // background-position: center;
}

a {
  text-decoration: none;
  color: $e-orange;
  &:hover {
    color: $e-yellow;
  }
}

h1, h2, h3, h4 {
  color: white;
}

.home-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.content {
  width: 900px;
  margin: 0 auto;
  align-items: center;
}
